.modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    z-index: 10;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
  }
  .title{
    text-align: center;
    width: 350px;
    height:45px;
    color: white;
    background-color: black;
  }
  .error-msg {
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    padding: 1.5rem;
    color: red;
    font-weight: bold;
    font-size: 1.25rem;
    text-align: center;
  }
  
  .modal-close {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
  }
  
  .modal-close button {
    background: steelblue;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.3s ease;
  }
  
  .modal-close button:hover {
    background: #4c6ef5;
  }
  