.car-card {
  width: 464px;
  height: 565px;
  background-color: rgb(255, 255, 255);
  border: 4px solid #5908d1;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  margin-left: 118px;
  margin-bottom: 80px;
  position: relative;
}
  .icon {
    width: 20px; /* You can adjust this value as needed */
    height: auto;
    margin-right: 8px;
  }
  .car-info {
    margin-bottom: -179px;
  }
  
  .car-image img {
    width: 150px;
    height: 200px;
    display: block;
    margin: 0 auto;
  }
  
  .model-name {
    font-size: 1.5rem;
    margin: 10px 0;
    font-weight: bold;
    position: relative;
    bottom: 190px;

  }
  
  .pricing {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .price-detail {
    text-align: left;
    margin-top: 10px;
  }
  
  .price-detail h2 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 5px;
  }
  
  .price-detail button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .detail {
    display: flex;
  align-items: center;
  font-size: 1rem;
  color: #555;
  margin-bottom: 10px;
  }
  .detail_R {
    text-align: right;
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;

  }
  .Size_{
size: 20px;
  }
  .details-container {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 167px;
    align-items: self-start
  }
  
  .detail_R {
    display: flex;
    align-items: right;
  }
  
  .view-details {
    font-size: 1rem;
    color: #007bff;
    cursor: pointer;
  }

  .car-card:hover {
    transform: scale(1.05);
  }