/* CarForm.css */

.form-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

form {
  display: flex;
  flex-direction: column;
}

.form-heading {
  font-size: 2rem;
  text-align: center;
  color:grey; /* Dark gray text color */
  margin-bottom: 20px;
  font-weight: bold;
}

label {
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.button {
  background-color: gray;
  border: none;
  color: black; /* Change text color to black */
  font-weight: bold; /* Make text bold */
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}


