/* OwnerForm.css */

.form-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #000; /* Black border */
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: #f8f8f8; /* Light gray background color */
}

form {
  display: flex;
  flex-direction: column;
}

.form-heading {
  font-size: 2rem;
  text-align: center;
  color: #333; /* Dark gray text color */
  margin-bottom: 20px;
}

label {
  margin-bottom: 8px;
  color: #333; /* Dark gray text color */
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  background-color: gray;
  border: none;
  color: black; /* Change text color to black */
  font-weight: bold; /* Make text bold */
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

