/* AdminDashboard.css */

.dashboard {
    background-color: #000; /* Black background */
    color: black; /* White text color for better contrast */
    padding: 20px;
font-style: italic;
font-weight: bold;
    
  }
  /* Form.css */

.form-container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
  }
  
  .form-container.slide-in {
    transform: translateX(-100%);
  }
  

  
  .registered-cars-heading {
  font-size: 28px; /* Adjust the font size as needed */
  font-weight: bold;
  color: #fff; /* Text color for better contrast */
  margin-bottom: 20px; /* Add some spacing below the heading */
  text-align: center; /* Center the heading */
}
  .stylish-car-section {
    background-color: #333; /* Dark grey background for the stylish car section */
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .car-card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .stylish-car-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  /* Styles for the AdminCar component (adjust as needed) */
  .recommend__car-card {
    background: #444; /* Darker grey background for each car card */
    color: gray; /* White text color for the text inside the car card */
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    width: 200px; /* Adjust the width as needed */
    text-align: center;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .recommend__car-card:hover {
    background: #555; /* Slightly darker grey on hover */
  }
  
  .recommend__car-img img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .recommend__car-top h5 {
    display: flex;
    align-items: center;
    color: grey;
    margin-bottom: 10px;
  }
  
  .recommend__car-top h5 span i {
    font-size: 1.4rem;
    margin-right: 5px;
  }
  
  .recommend__car-bottom h4 {
    font-size: 1.6rem;
    margin: 10px 0px;
  }
  
  .recommend__car-other {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .recommend__icons {
    display: flex;
    align-items: center;
    column-gap: 1rem;
  }
  
  .recommend__icons p {
    display: flex;
    align-items: center;
    column-gap: 5px;
  }
  
  .recommend__icons p i {
    font-size: 1.2rem;
  }
  
  .recommend__car-card span {
    font-size: 1.2rem;
    color: #fff; /* Added text color for the span */
  }
  