.booking-form {
    width: 100%; /* Set form width to 100% */
    max-width: 1000px; /* Set maximum width for better readability on larger screens */
    margin: auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  

  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: bold;
  }
  
  select,
  input {
    width: calc(100% - 20px); /* Set input width to 100% minus padding */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
    box-sizing: border-box; /* Ensure padding doesn't affect the width */
  }
  
  .btn-Booking {
    background-color: gray;
    border: none;
    color: black; /* Change text color to black */
    font-weight: bold; /* Make text bold */
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .btn-Booking:hover {
    background-color: #888888; /* Darker gray on hover */
  }
  
 
  