.form-container {
    max-width: 1000px;

    margin: 0 auto;
    padding: 40px 20px;
}

.form {
    border: 2px solid #007BFF;
    padding: 30px;
    border-radius: 10px;
    background: #f9f9f9;
    /* align-items: flex-start; Remove or change this line */
    width: 950px;
    margin: 0 auto; /* Add this line to center the form horizontally */
}



.form-title {
    text-align: center;
    margin-bottom: 30px;
    color: #007BFF;
    font-size: 28px;
    font-weight: bold;
}

.form-input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    margin-bottom: 20px;
}

.input-half {
    flex: 1;
    margin-right: 10px;
}

.form-button {
    padding: 12px 24px;
    background: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    display: block;
    margin: 0 auto;
}
