.form-container {
    max-width: 1000px;

    margin: 0 auto;
    padding: 40px 20px;
}

.form {
    border: 2px solid #007BFF;
    padding: 30px;
    border-radius: 10px;
    background: #f9f9f9;
    /* align-items: flex-start; Remove or change this line */
    width: 950px;
    margin: 0 auto; /* Add this line to center the form horizontally */
}

.radio-group{
    display: flex;
    flex-direction: row-reverse;

}

.form-title {
    text-align: center;
    margin-bottom: 30px;
    color: grey;
    font-size: 28px;
    font-weight: bold;
}

.form-input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-bottom: 20px;
    color: black;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-half {
    flex: 1;
    margin-right: 10px;
}

.form-button {
    padding: 12px 24px;
    background: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    display: block;
    margin: 0 auto;
}
/* Style for the radio group container */
.input-group2 {
    margin-bottom: 10px; /* Adjust margin as needed */
  }
  
  /* Style for each radio button */
  .input-group2 input[type="radio"] {
    margin-right: 8px; /* Adjust spacing between radio button and label */
  }
  
  /* Style for radio button labels */
  .input-group2 label {
    font-size: 16px; /* Adjust label font size */
    margin-right: 15px; /* Adjust spacing between labels */
    cursor: pointer; /* Change cursor to pointer on hover */
  }
  