body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: silver;
  }
  
  .section {
    margin-bottom: 2rem;
    padding: 2rem;
    border-radius: 10px;
    background-color: #333; /* Darker background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .section-heading {
    font-size: 2.5rem;
    color: silver;
    text-align: center;
  }
  
  .section-subheading {
    font-size: 1.5rem;
    color: darkorange;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  .section-text {
    font-size: 1.2rem;
    color: silver;
    margin: 0 2rem 2rem 2rem;
  }
  
  .section-list {
    list-style-type: none;
    padding: 0;
    text-align: center;
  }
  
  .section-list-item {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: silver;
  }
  
  /* Add additional styles here as needed */
  
  